.d-flex{
     display: flex;
}
ul{
     list-style-type: none !important;
     margin: 0!important;
     padding: 0!important;
 }
 
 ul li{
     display: inline-block!important;
     border: 1px solid #ddd!important;
     text-align:center!important;
     padding: 10px!important;
     cursor: pointer!important;
 }
 
 ul li:hover{
     background-color: #fafafa!important;
 }
 